@model CommonComponents.DTOs.DetallePrestamosDTO

@{
    ViewBag.Title = "ReturnBook";
}
@section style
{
    @Styles.Render("~/bundles/datepickerMaterialcss")
}
@section scripts
{
    @Scripts.Render("~/bundles/datepickerMaterialjs")
    <script>
        $(document).ready(function () {
            //datepicker de material
            $('.datepicker').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });
            //cuando cambia el select list
            $('#Prestamos_pre_usuario').change(function () {
                let pre_usuario = $(this).val();
                //ajax
                let url = "/Prestamos/ValidationPartialView?pre_usuario=" + pre_usuario;
                $.get(url, function (response) {
                    $("#divPartial").html(response);
                });
            });
        })
    </script>
    <!--Deshabilita Retroceso de la página-->
    <script type="text/javascript">
        window.onload = function () {
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button" //chrome
            window.onhashchange = function () { window.location.hash = "no-back-button"; }
        }
    </script>
}

<h2>Realizar devolución</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.dtp_fecha_dev, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dtp_fecha_dev, new { htmlAttributes = new { @class = " datepicker form-control" } })
                @Html.ValidationMessageFor(model => model.dtp_fecha_dev, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prestamos.pre_usuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Prestamos.pre_usuario, (IEnumerable<SelectListItem>)ViewBag.listUsuarios, "Seleccionar usuario")
                @Html.ValidationMessageFor(model => model.Prestamos.pre_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="divPartial">
            @if (TempData["lista"] != null)
            {
                //vista parcial creada en el controlador Prestamos
                Html.Partial("_ListReturnBooks");
            }
        </div>

    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
