@model DataAccess.Models.DetallePrestamos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetallePrestamos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dtp_cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtp_cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtp_fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtp_fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtp_fecha_dev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtp_fecha_dev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Libros.lib_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libros.lib_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prestamos.pre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prestamos.pre_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
