@model CommonComponents.DTOs.LibrosDTO

<h3>¿Esta seguro de eliminar este libro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lib_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lib_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lib_num_pag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lib_num_pag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lib_autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lib_autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lib_editorial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lib_editorial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Areas.are_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Areas.are_nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
