@model CommonComponents.DTOs.AreasDTO

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar área</h2>

<h3>¿Esta seguro de eliminar esta área?</h3>
<div>
    <h4>Áreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.are_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.are_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.are_tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.are_tiempo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
